body {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 26, 26);
    color:rgb(230, 230, 230);
    font-family: Futura PT, Gotham, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color: rgb(255, 123, 0);
}
header {
    background-image: /*url(https://cdnb.artstation.com/p/assets/images/images/014/980/483/large/andrew-macdonald-low-poly-water-glass-lrg.jpg?1546570109)*/ url(images/illustration-5.jpeg);
    /*! height: 50vh; */
    background-position: center;
    background-clip: content-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-content: center;
    align-items: center;
    flex-grow: 2;
}
section {
    max-width: 100vh;
    display: flex;
    flex-wrap:wrap;

    flex-grow: 1;
}
section div {
    /*! max-width: 30%; */
}
nav {
    background-color: rgba(230, 230, 230, .85);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}
nav a, nav span{
    padding: .5em;
}

/*****FOOTER*********/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer div {
    display: flex;
    justify-content: space-evenly;
    
    background-color: rgb(0, 0, 0);
}
footer .footerBlock {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
footer .copyright {
}
/******CONTENT***********/
.projects {
    display: flex;
    flex-direction: column;
}
.imageGrid {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
 }
 .imageGrid a {
     flex-basis: fit-content;
     
 }

 .imageGrid img {

    object-fit: cover;
    max-width: 25vw;
 }
 }
